{erl_opts, [debug_info]}.
{deps, [
    {libp2p_crypto, "1.0.1"}
]}.


{relx, [
        {release, {"key_sharding", "1.0.0"}, [key_sharding]},
        {extended_start_script, true},
        {include_src, true}
       ]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [key_sharding]}
]}.
